@{
	ViewData["Title"] = "Create Auto Part";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<body style="background-repeat: no-repeat; background-size: cover; background-attachment:fixed; background-image: url('https://wallpapercave.com/wp/wp9274667.jpg');">
	<h2>Create Auto Part</h2>

	<form asp-action="Create" class="needs-validation" novalidate>
		<div class="form-group">
			<label>Name:</label>
			<input class="form-control" required />
			<div class="invalid-feedback">Please enter the name of the auto part.</div>
		</div>

		<div class="form-group">
			<label>Description:</label>
			<textarea class="form-control" rows="4"></textarea>
		</div>

		<div class="form-group">
			<label>Price:</label>
			<input class="form-control" type="number" step="0.01" required />
			<div class="invalid-feedback">Please enter a valid price.</div>
		</div>

		<div class="form-group">
			<label>Image Link:</label>
			<input class="form-control" />
		</div>

		<div style="margin-top: 5px">
			<button type="submit" class="btn btn-gray-900">Create</button>
			<a asp-action="Index" class="btn btn-success">Back to List</a>
		</div>
	</form>
</body>

@section Scripts {
	<script>
		// Add client-side validation
		(function () {
			'use strict';
			window.addEventListener('load', function () {
				// Fetch all the forms we want to apply custom Bootstrap validation styles to
				var forms = document.getElementsByClassName('needs-validation');
				// Loop over them and prevent submission
				var validation = Array.prototype.filter.call(forms, function (form) {
					form.addEventListener('submit', function (event) {
						if (!form.checkValidity()) {
							event.preventDefault();
							event.stopPropagation();
						}
						form.classList.add('was-validated');
					}, false);
				});
			}, false);
		})();
	</script>
}
